{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <title>Вход</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/login.css' %}">
  </head>
  <body>
    <form action="" method="post">
      {% csrf_token %}
      <!-- as_p для того, чтобы каждый элемент формы был с новой строки -->
      {{ form.as_p }}
      <button type="submit">Войти</button>
      <p>Если у вас нет аккаунта - <a href="/register" target="_blank">
       зарегистрируйтесь
       </a></p>
    </form>
  </body>
</html>