{% load staticfiles %}
 <html>
        <head>
            <title>Неавторизованный пользователь</title>
            <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    		<link rel="stylesheet" href="{% static 'css/blog.css' %}">
    		<link href="https://fonts.googleapis.com/css?family=Verdana&subset=latin,cyrillic" rel="stylesheet" type="text/css">
        </head>
        <body>       <a href="/login" target="_blank">
       Авторизуйтесь
       </a> или        <a href="/register" target="_blank">
       зарегестрируйтесь
       </a></body>
    </html>
 <html>

